examples/tracing-test/src/main/mule/tracing-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22564b6c-9cbc-4efc-90f0-2d6658121a7f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="tracing-testFlow2" doc:id="36fda8ce-7f7f-486d-aeeb-576fabcc087d" >
		<http:listener doc:name="Listener" doc:id="b0d981ce-cf68-44a0-908b-af453ee93669" config-ref="HTTP_Listener_config" path="/elastic-apm-rum.umd.min.js"/>
		<set-payload value="!function(t){var e={};function n(r){if(e[r])return e[r].exports;var i=e[r]={i:r,l:!1,exports:{}};return t[r].call(i.exports,i,i.exports,n),i.l=!0,i.exports}n.m=t,n.c=e,n.d=function(t,e,r){n.o(t,e)||Object.defineProperty(t,e,{enumerable:!0,get:r})},n.r=function(t){&quot;undefined&quot;!=typeof Symbol&amp;&amp;Symbol.toStringTag&amp;&amp;Object.defineProperty(t,Symbol.toStringTag,{value:&quot;Module&quot;}),Object.defineProperty(t,&quot;__esModule&quot;,{value:!0})},n.t=function(t,e){if(1&amp;e&amp;&amp;(t=n(t)),8&amp;e)return t;if(4&amp;e&amp;&amp;&quot;object&quot;==typeof t&amp;&amp;t&amp;&amp;t.__esModule)return t;var r=Object.create(null);if(n.r(r),Object.defineProperty(r,&quot;default&quot;,{enumerable:!0,value:t}),2&amp;e&amp;&amp;&quot;string&quot;!=typeof t)for(var i in t)n.d(r,i,function(e){return t[e]}.bind(null,i));return r},n.n=function(t){var e=t&amp;&amp;t.__esModule?function(){return t.default}:function(){return t};return n.d(e,&quot;a&quot;,e),e},n.o=function(t,e){return Object.prototype.hasOwnProperty.call(t,e)},n.p=&quot;&quot;,n(n.s=4)}([function(t,e,n){var r,i,a;!function(o,s){&quot;use strict&quot;;i=[n(3)],void 0===(a=&quot;function&quot;==typeof(r=function(t){var e=/(^|@)\S+\:\d+/,n=/^\s*at .*(\S+\:\d+|\(native\))/m,r=/^(eval@)?(\[native code\])?$/;function i(t,e,n){if(&quot;function&quot;==typeof Array.prototype.map)return t.map(e,n);for(var r=new Array(t.length),i=0;i&lt;t.length;i++)r[i]=e.call(n,t[i]);return r}function a(t,e,n){if(&quot;function&quot;==typeof Array.prototype.filter)return t.filter(e,n);for(var r=[],i=0;i&lt;t.length;i++)e.call(n,t[i])&amp;&amp;r.push(t[i]);return r}return{parse:function(t){if(void 0!==t.stacktrace||void 0!==t[&quot;opera#sourceloc&quot;])return this.parseOpera(t);if(t.stack&amp;&amp;t.stack.match(n))return this.parseV8OrIE(t);if(t.stack)return this.parseFFOrSafari(t);throw new Error(&quot;Cannot parse given Error object&quot;)},extractLocation:function(t){if(-1===t.indexOf(&quot;:&quot;))return[t];var e=/(.+?)(?:\:(\d+))?(?:\:(\d+))?$/.exec(t.replace(/[\(\)]/g,&quot;&quot;));return[e[1],e[2]||void 0,e[3]||void 0]},parseV8OrIE:function(e){return i(a(e.stack.split(&quot;\n&quot;),(function(t){return!!t.match(n)}),this),(function(e){e.indexOf(&quot;(eval &quot;)&gt;-1&amp;&amp;(e=e.replace(/eval code/g,&quot;eval&quot;).replace(/(\(eval at [^\()]*)|(\)\,.*$)/g,&quot;&quot;));var n=e.replace(/^\s+/,&quot;&quot;).replace(/\(eval code/g,&quot;(&quot;).split(/\s+/).slice(1),r=this.extractLocation(n.pop()),i=n.join(&quot; &quot;)||void 0,a=function(t,e){if(&quot;function&quot;==typeof Array.prototype.indexOf)return t.indexOf(e);for(var n=0;n&lt;t.length;n++)if(t[n]===e)return n;return-1}([&quot;eval&quot;,&quot;&lt;anonymous&gt;&quot;],r[0])&gt;-1?void 0:r[0];return new t(i,void 0,a,r[1],r[2],e)}),this)},parseFFOrSafari:function(e){return i(a(e.stack.split(&quot;\n&quot;),(function(t){return!t.match(r)}),this),(function(e){if(e.indexOf(&quot; &gt; eval&quot;)&gt;-1&amp;&amp;(e=e.replace(/ line (\d+)(?: &gt; eval line \d+)* &gt; eval\:\d+\:\d+/g,&quot;:$1&quot;)),-1===e.indexOf(&quot;@&quot;)&amp;&amp;-1===e.indexOf(&quot;:&quot;))return new t(e);var n=e.split(&quot;@&quot;),r=this.extractLocation(n.pop()),i=n.join(&quot;@&quot;)||void 0;return new t(i,void 0,r[0],r[1],r[2],e)}),this)},parseOpera:function(t){return!t.stacktrace||t.message.indexOf(&quot;\n&quot;)&gt;-1&amp;&amp;t.message.split(&quot;\n&quot;).length&gt;t.stacktrace.split(&quot;\n&quot;).length?this.parseOpera9(t):t.stack?this.parseOpera11(t):this.parseOpera10(t)},parseOpera9:function(e){for(var n=/Line (\d+).*script (?:in )?(\S+)/i,r=e.message.split(&quot;\n&quot;),i=[],a=2,o=r.length;a&lt;o;a+=2){var s=n.exec(r[a]);s&amp;&amp;i.push(new t(void 0,void 0,s[2],s[1],void 0,r[a]))}return i},parseOpera10:function(e){for(var n=/Line (\d+).*script (?:in )?(\S+)(?:: In function (\S+))?$/i,r=e.stacktrace.split(&quot;\n&quot;),i=[],a=0,o=r.length;a&lt;o;a+=2){var s=n.exec(r[a]);s&amp;&amp;i.push(new t(s[3]||void 0,void 0,s[2],s[1],void 0,r[a]))}return i},parseOpera11:function(n){return i(a(n.stack.split(&quot;\n&quot;),(function(t){return!!t.match(e)&amp;&amp;!t.match(/^Error created at/)}),this),(function(e){var n,r=e.split(&quot;@&quot;),i=this.extractLocation(r.pop()),a=r.shift()||&quot;&quot;,o=a.replace(/&lt;anonymous function(: (\w+))?&gt;/,&quot;$2&quot;).replace(/\([^\)]*\)/g,&quot;&quot;)||void 0;a.match(/\(([^\)]*)\)/)&amp;&amp;(n=a.replace(/^[^\(]+\(([^\)]*)\)$/,&quot;$1&quot;));var s=void 0===n||&quot;[arguments not available]&quot;===n?void 0:n.split(&quot;,&quot;);return new t(o,s,i[0],i[1],i[2],e)}),this)}}})?r.apply(e,i):r)||(t.exports=a)}()},,,function(t,e,n){var r,i,a;!function(n,o){&quot;use strict&quot;;i=[],void 0===(a=&quot;function&quot;==typeof(r=function(){function t(t){return!isNaN(parseFloat(t))&amp;&amp;isFinite(t)}function e(t,e,n,r,i,a){void 0!==t&amp;&amp;this.setFunctionName(t),void 0!==e&amp;&amp;this.setArgs(e),void 0!==n&amp;&amp;this.setFileName(n),void 0!==r&amp;&amp;this.setLineNumber(r),void 0!==i&amp;&amp;this.setColumnNumber(i),void 0!==a&amp;&amp;this.setSource(a)}return e.prototype={getFunctionName:function(){return this.functionName},setFunctionName:function(t){this.functionName=String(t)},getArgs:function(){return this.args},setArgs:function(t){if(&quot;[object Array]&quot;!==Object.prototype.toString.call(t))throw new TypeError(&quot;Args must be an Array&quot;);this.args=t},getFileName:function(){return this.fileName},setFileName:function(t){this.fileName=String(t)},getLineNumber:function(){return this.lineNumber},setLineNumber:function(e){if(!t(e))throw new TypeError(&quot;Line Number must be a Number&quot;);this.lineNumber=Number(e)},getColumnNumber:function(){return this.columnNumber},setColumnNumber:function(e){if(!t(e))throw new TypeError(&quot;Column Number must be a Number&quot;);this.columnNumber=Number(e)},getSource:function(){return this.source},setSource:function(t){this.source=String(t)},toString:function(){return(this.getFunctionName()||&quot;{anonymous}&quot;)+(&quot;(&quot;+(this.getArgs()||[]).join(&quot;,&quot;)+&quot;)&quot;)+(this.getFileName()?&quot;@&quot;+this.getFileName():&quot;&quot;)+(t(this.getLineNumber())?&quot;:&quot;+this.getLineNumber():&quot;&quot;)+(t(this.getColumnNumber())?&quot;:&quot;+this.getColumnNumber():&quot;&quot;)}},e})?r.apply(e,i):r)||(t.exports=a)}()},function(t,e,n){&quot;use strict&quot;;n.r(e),n.d(e,&quot;init&quot;,(function(){return Ve})),n.d(e,&quot;apmBase&quot;,(function(){return $e})),n.d(e,&quot;ApmBase&quot;,(function(){return Ue})),n.d(e,&quot;apm&quot;,(function(){return $e}));var r=function(t){var e=this.constructor;return this.then((function(n){return e.resolve(t()).then((function(){return n}))}),(function(n){return e.resolve(t()).then((function(){return e.reject(n)}))}))},i=setTimeout;function a(t){return Boolean(t&amp;&amp;void 0!==t.length)}function o(){}function s(t){if(!(this instanceof s))throw new TypeError(&quot;Promises must be constructed via new&quot;);if(&quot;function&quot;!=typeof t)throw new TypeError(&quot;not a function&quot;);this._state=0,this._handled=!1,this._value=void 0,this._deferreds=[],l(t,this)}function c(t,e){for(;3===t._state;)t=t._value;0!==t._state?(t._handled=!0,s._immediateFn((function(){var n=1===t._state?e.onFulfilled:e.onRejected;if(null!==n){var r;try{r=n(t._value)}catch(t){return void f(e.promise,t)}u(e.promise,r)}else(1===t._state?u:f)(e.promise,t._value)}))):t._deferreds.push(e)}function u(t,e){try{if(e===t)throw new TypeError(&quot;A promise cannot be resolved with itself.&quot;);if(e&amp;&amp;(&quot;object&quot;==typeof e||&quot;function&quot;==typeof e)){var n=e.then;if(e instanceof s)return t._state=3,t._value=e,void d(t);if(&quot;function&quot;==typeof n)return void l((r=n,i=e,function(){r.apply(i,arguments)}),t)}t._state=1,t._value=e,d(t)}catch(e){f(t,e)}var r,i}function f(t,e){t._state=2,t._value=e,d(t)}function d(t){2===t._state&amp;&amp;0===t._deferreds.length&amp;&amp;s._immediateFn((function(){t._handled||s._unhandledRejectionFn(t._value)}));for(var e=0,n=t._deferreds.length;e&lt;n;e++)c(t,t._deferreds[e]);t._deferreds=null}function p(t,e,n){this.onFulfilled=&quot;function&quot;==typeof t?t:null,this.onRejected=&quot;function&quot;==typeof e?e:null,this.promise=n}function l(t,e){var n=!1;try{t((function(t){n||(n=!0,u(e,t))}),(function(t){n||(n=!0,f(e,t))}))}catch(t){if(n)return;n=!0,f(e,t)}}s.prototype.catch=function(t){return this.then(null,t)},s.prototype.then=function(t,e){var n=new this.constructor(o);return c(this,new p(t,e,n)),n},s.prototype.finally=r,s.all=function(t){return new s((function(e,n){if(!a(t))return n(new TypeError(&quot;Promise.all accepts an array&quot;));var r=Array.prototype.slice.call(t);if(0===r.length)return e([]);var i=r.length;function o(t,a){try{if(a&amp;&amp;(&quot;object&quot;==typeof a||&quot;function&quot;==typeof a)){var s=a.then;if(&quot;function&quot;==typeof s)return void s.call(a,(function(e){o(t,e)}),n)}r[t]=a,0==--i&amp;&amp;e(r)}catch(t){n(t)}}for(var s=0;s&lt;r.length;s++)o(s,r[s])}))},s.resolve=function(t){return t&amp;&amp;&quot;object&quot;==typeof t&amp;&amp;t.constructor===s?t:new s((function(e){e(t)}))},s.reject=function(t){return new s((function(e,n){n(t)}))},s.race=function(t){return new s((function(e,n){if(!a(t))return n(new TypeError(&quot;Promise.race accepts an array&quot;));for(var r=0,i=t.length;r&lt;i;r++)s.resolve(t[r]).then(e,n)}))},s._immediateFn=&quot;function&quot;==typeof setImmediate&amp;&amp;function(t){setImmediate(t)}||function(t){i(t,0)},s._unhandledRejectionFn=function(t){&quot;undefined&quot;!=typeof console&amp;&amp;console&amp;&amp;console.warn(&quot;Possible Unhandled Promise Rejection:&quot;,t)};var v=s,h={};y?h=window:&quot;undefined&quot;!=typeof self&amp;&amp;(h=self);var g=&quot;Promise&quot;in h?h.Promise:v,m=[].slice,y=&quot;undefined&quot;!=typeof window,_=y&amp;&amp;&quot;undefined&quot;!=typeof performance?performance:{};for(var b=[],S=0;S&lt;256;++S)b[S]=(S+256).toString(16).substr(1);var w=new Uint8Array(16);function T(t){return function(t){for(var e=[],n=0;n&lt;t.length;n++)e.push(b[t[n]]);return e.join(&quot;&quot;)}(&quot;undefined&quot;!=typeof crypto&amp;&amp;&quot;function&quot;==typeof crypto.getRandomValues?crypto.getRandomValues(w):&quot;undefined&quot;!=typeof msCrypto&amp;&amp;&quot;function&quot;==typeof msCrypto.getRandomValues?msCrypto.getRandomValues(w):w).substr(0,t)}function E(t,e){var n=!1;return&quot;string&quot;==typeof e?n=t===e:Array.isArray(e)&amp;&amp;e.forEach((function(e){n||(n=E(t,e))})),n}function x(){return y&amp;&amp;&quot;function&quot;==typeof Array.prototype.forEach&amp;&amp;&quot;function&quot;==typeof JSON.stringify&amp;&amp;&quot;function&quot;==typeof Function.bind&amp;&amp;_&amp;&amp;&quot;function&quot;==typeof _.now&amp;&amp;&quot;withCredentials&quot;in new window.XMLHttpRequest}function k(t,e,n){if(n&amp;&amp;t){var r=A(t),i=typeof e;return null!=e&amp;&amp;&quot;boolean&quot;!==i&amp;&amp;&quot;number&quot;!==i&amp;&amp;(e=String(e)),n[r]=e,n}}function L(t){return t&amp;&amp;t.split(&quot;?&quot;)[0]}function O(t){return null!==t&amp;&amp;&quot;object&quot;==typeof t}function I(t,e,n){for(var r=0,i=e.length;r&lt;i;++r){var a=e[r];if(O(a)||&quot;function&quot;==typeof a)for(var o=Object.keys(a),s=0,c=o.length;s&lt;c;s++){var u=o[s],f=a[u];n&amp;&amp;O(f)?(O(t[u])||(t[u]=Array.isArray(f)?[]:{}),I(t[u],[f],!1)):t[u]=f}}return t}function C(){if(&quot;undefined&quot;!=typeof document){var t=document.currentScript;return t||function(){if(&quot;undefined&quot;!=typeof document)for(var t=document.getElementsByTagName(&quot;script&quot;),e=0,n=t.length;e&lt;n;e++){var r=t[e];if(r.src.indexOf(&quot;elastic&quot;)&gt;0)return r}}()}}function N(t){return I(t,m.call(arguments,1),!1)}function j(t){return I(t,m.call(arguments,1),!0)}function F(t){return void 0===t}function R(){}function A(t){return t.replace(/[.*&quot;]/g,&quot;_&quot;)}function P(){return _.now()}function M(t){return&quot;number&quot;==typeof t&amp;&amp;t&gt;=0?t:P()}function q(t,e){return F(e)||F(t)?null:parseInt(e-t)}function H(t){g.resolve().then(t)}function D(){return&quot;function&quot;==typeof _.getEntriesByType}var z={fetchInProgress:!1};function B(t){return&quot;__apm_symbol__&quot;+t}function U(t,e,n){for(var r=t;r&amp;&amp;!r.hasOwnProperty(e);)r=Object.getPrototypeOf(r);!r&amp;&amp;t[e]&amp;&amp;(r=t);var i,a,o,s,c=B(e);if(r&amp;&amp;!(i=r[c])){i=r[c]=r[e];var u=r&amp;&amp;Object.getOwnPropertyDescriptor(r,e);if(!(s=u)||!1!==s.writable&amp;&amp;(&quot;function&quot;!=typeof s.get||void 0!==s.set)){var f=n(i,c,e);r[e]=function(){return f(this,arguments)},a=r[e],o=i,a[B(&quot;OriginalDelegate&quot;)]=o}}return i}var $=B(&quot;xhrIgnore&quot;),V=B(&quot;xhrSync&quot;),X=B(&quot;xhrURL&quot;),J=B(&quot;xhrMethod&quot;),Z=&quot;schedule&quot;,G=&quot;invoke&quot;,K=&quot;clear&quot;,Q=&quot;addEventListener&quot;,W=&quot;removeEventListener&quot;,Y=[&quot;link&quot;,&quot;css&quot;,&quot;script&quot;,&quot;img&quot;,&quot;xmlhttprequest&quot;,&quot;fetch&quot;,&quot;beacon&quot;,&quot;iframe&quot;],tt=3e5,et=&quot;page-load&quot;,nt=&quot;custom&quot;,rt=&quot;Unknown&quot;,it=[et,&quot;route-change&quot;,&quot;user-interaction&quot;,&quot;http-request&quot;,nt,&quot;temporary&quot;],at=60,ot=&quot;xmlhttprequest&quot;,st=&quot;fetch&quot;,ct=&quot;history&quot;,ut=&quot;eventtarget&quot;,ft=&quot;error&quot;,dt=&quot;longtask&quot;,pt=&quot;measure&quot;,lt=&quot;navigation&quot;,vt=&quot;resource&quot;,ht=&quot;first-contentful-paint&quot;,gt=&quot;largest-contentful-paint&quot;,mt=&quot;first-input&quot;,yt=&quot;ConfigService&quot;,_t=&quot;LoggingService&quot;,bt=&quot;ApmServer&quot;,St=&quot;.truncated&quot;,wt=1024,Tt=B(&quot;xhrTask&quot;),Et=B(&quot;xhrListener&quot;),xt=B(&quot;xhrScheduled&quot;);function kt(t){var e=XMLHttpRequest.prototype,n=e[Q],r=e[W];if(!n){var i=window.XMLHttpRequestEventTarget;if(i){var a=i.prototype;n=a[Q],r=a[W]}}var o=&quot;readystatechange&quot;,s=&quot;load&quot;;function c(e){e.state=G,t(G,e)}function u(e){XMLHttpRequest[xt]=!1,e.state=Z,t(Z,e);var i=e.data,a=i.aborted,u=i.target;n||(n=u[Q],r=u[W]);var f,d=u[Et];d&amp;&amp;(r.call(u,o,d),r.call(u,s,d));var p=u[Et]=function(t){var n=t.type;f?f!=n&amp;&amp;function(t){setTimeout(t,0)}((function(){e.state!==G&amp;&amp;c(e)})):u.readyState===u.DONE&amp;&amp;!a&amp;&amp;XMLHttpRequest[xt]&amp;&amp;e.state===Z&amp;&amp;(f=n)};n.call(u,o,p),n.call(u,s,p),u[Tt]||(u[Tt]=e)}var f=U(e,&quot;open&quot;,(function(){return function(t,e){return t[$]||(t[J]=e[0],t[X]=e[1],t[V]=!1===e[2]),f.apply(t,e)}})),d=U(e,&quot;send&quot;,(function(){return function(t,e){if(t[$])return d.apply(t,e);var n={source:ot,state:&quot;&quot;,type:&quot;macroTask&quot;,data:{target:t,method:t[J],sync:t[V],url:t[X],aborted:!1}};u(n);var r=d.apply(t,e);return XMLHttpRequest[xt]=!0,t[V]&amp;&amp;c(n),r}})),p=U(e,&quot;abort&quot;,(function(){return function(e,n){if(!e[$]){var r=e[Tt];if(r&amp;&amp;&quot;string&quot;==typeof r.type){if(r.data&amp;&amp;r.data.aborted)return;!function(e){e.state=K,t(K,e),e.data.aborted=!0}(r)}}return p.apply(e,n)}}))}for(var Lt=[&quot;click&quot;],Ot={},It=0;It&lt;Lt.length;It++){var Ct=Lt[It];Ot[Ct]=B(Ct)}function Nt(t,e,n){return t instanceof Element&amp;&amp;Lt.indexOf(e)&gt;=0&amp;&amp;&quot;function&quot;==typeof n}var jt=function(){function t(){this.observers={}}var e=t.prototype;return e.observe=function(t,e){var n=this;if(&quot;function&quot;==typeof e)return this.observers[t]||(this.observers[t]=[]),this.observers[t].push(e),function(){var r=n.observers[t].indexOf(e);r&gt;-1&amp;&amp;n.observers[t].splice(r,1)}},e.sendOnly=function(t,e){var n=this.observers[t];n&amp;&amp;n.forEach((function(t){try{t.apply(void 0,e)}catch(t){console.log(t,t.stack)}}))},e.send=function(t,e){this.sendOnly(t+&quot;:before&quot;,e),this.sendOnly(t,e),this.sendOnly(t+&quot;:after&quot;,e)},t}(),Ft=new jt,Rt=!1;function At(){return Rt||(Rt=!0,kt((function(t,e){Ft.send(ot,[t,e])})),function(t){if(window.fetch&amp;&amp;window.Request){var e=window.fetch;window.fetch=function(t,i){var a,o,s=this,c=arguments;if(&quot;string&quot;==typeof t)a=new Request(t,i),o=t;else{if(!t)return e.apply(s,c);o=(a=t).url}var u={source:st,state:&quot;&quot;,type:&quot;macroTask&quot;,data:{target:a,method:a.method,url:o,aborted:!1}};return new g((function(t,i){var o;z.fetchInProgress=!0,n(u);try{o=e.apply(s,[a])}catch(t){return i(t),u.data.error=t,r(u),void(z.fetchInProgress=!1)}o.then((function(e){t(e),H((function(){u.data.response=e,r(u)}))}),(function(t){i(t),H((function(){u.data.error=t,r(u)}))})),z.fetchInProgress=!1}))}}function n(e){e.state=Z,t(Z,e)}function r(e){e.state=G,t(G,e)}}((function(t,e){Ft.send(st,[t,e])})),function(t){if(window.history){var e=history.pushState;&quot;function&quot;==typeof e&amp;&amp;(history.pushState=function(n,r,i){var a={source:ct,data:{state:n,title:r,url:i}};t(G,a),e.apply(this,arguments)})}}((function(t,e){Ft.send(ct,[t,e])})),function(t){if(window.EventTarget){var e=window.EventTarget.prototype,n=e[Q],r=e[W];e[Q]=function(t,e,r){var i=this;if(!Nt(i,t,e))return n.apply(i,arguments);var a=o(i,t,e,r),s=Array.prototype.slice.call(arguments);return s[1]=a,n.apply(i,s)},e[W]=function(t,e,n){var i=this;if(!Nt(i,t,e))return r.apply(i,arguments);var a=s(i,t,e,n),o=Array.prototype.slice.call(arguments);return o[1]=a,r.apply(i,o)}}function i(t,e,n,r){for(var i=0;i&lt;t.length;i++){var a=t[i];if(a.eventType===e&amp;&amp;a.listenerFn===n&amp;&amp;a.capture===r)return i}return-1}function a(t){return&quot;boolean&quot;==typeof t?t:!!t&amp;&amp;!!t.capture}function o(e,n,r,o){var s=Ot[n];if(!s)return r;var c=e[s],u=a(o);if(c){var f=i(c,n,r,u);if(-1!==f)return c[f].wrappingFn}else c=e[s]=[];var d={source:ut,target:e,eventType:n,listenerFn:r,capture:u,wrappingFn:p};function p(){var e;t(Z,d);try{e=r.apply(this,arguments)}finally{t(G,d)}return e}return c.push(d),p}function s(t,e,n,r){var o=Ot[e],s=t[o];if(s){var c=i(s,e,n,a(r));if(-1!==c){var u=s[c];return s.splice(c,1),0===s.length&amp;&amp;(t[o]=void 0),u.wrappingFn}}return n}}((function(t,e){Ft.send(ut,[t,e])}))),Ft}var Pt=function(){function t(t,e,n){void 0===n&amp;&amp;(n={}),t||(t=rt),e||(e=nt),this.name=t,this.type=e,this.options=n,this.id=n.id||T(16),this.traceId=n.traceId,this.sampled=n.sampled,this.timestamp=n.timestamp,this._start=M(n.startTime),this._end=void 0,this.ended=!1,this.onEnd=n.onEnd}var e=t.prototype;return e.ensureContext=function(){this.context||(this.context={})},e.addLabels=function(t){this.ensureContext();var e=this.context;e.tags||(e.tags={}),Object.keys(t).forEach((function(n){return k(n,t[n],e.tags)}))},e.addContext=function(){for(var t=arguments.length,e=new Array(t),n=0;n&lt;t;n++)e[n]=arguments[n];0!==e.length&amp;&amp;(this.ensureContext(),j.apply(void 0,[this.context].concat(e)))},e.end=function(t){this.ended||(this.ended=!0,this._end=M(t),this.callOnEnd())},e.callOnEnd=function(){&quot;function&quot;==typeof this.onEnd&amp;&amp;this.onEnd(this)},e.duration=function(){return q(this._start,this._end)},t}();var Mt=[[&quot;#&quot;,&quot;hash&quot;],[&quot;?&quot;,&quot;query&quot;],[&quot;/&quot;,&quot;path&quot;],[&quot;@&quot;,&quot;auth&quot;,1],[NaN,&quot;host&quot;,void 0,1]],qt=/^([a-z][a-z0-9.+-]*:)?(\/\/)?([\S\s]*)/i,Ht=function(){function t(t){var e,n=this.extractProtocol(t||&quot;&quot;),r=n.protocol,i=n.address,a=n.slashes,o=!r&amp;&amp;!a,s=this.getLocation(),c=Mt.slice();i=i.replace(&quot;\\&quot;,&quot;/&quot;),a||(c[2]=[NaN,&quot;path&quot;]);for(var u=0;u&lt;c.length;u++){var f=c[u],d=f[0],p=f[1];if(&quot;string&quot;==typeof d){if(~(e=i.indexOf(d))){var l=f[2];if(l){var v=i.lastIndexOf(d);e=Math.max(e,v),this[p]=i.slice(0,e),i=i.slice(e+l)}else this[p]=i.slice(e),i=i.slice(0,e)}}else this[p]=i,i=&quot;&quot;;this[p]=this[p]||o&amp;&amp;f[3]&amp;&amp;s[p]||&quot;&quot;,f[3]&amp;&amp;(this[p]=this[p].toLowerCase())}if(o&amp;&amp;&quot;/&quot;!==this.path.charAt(0)&amp;&amp;(this.path=&quot;/&quot;+this.path),this.relative=o,this.protocol=r||s.protocol,this.hostname=this.host,this.port=&quot;&quot;,/:\d+$/.test(this.host)){var h=this.host.split(&quot;:&quot;),g=h.pop(),m=h.join(&quot;:&quot;);!function(t,e){switch(e){case&quot;http:&quot;:return&quot;80&quot;===t;case&quot;https:&quot;:return&quot;443&quot;===t}return!0}(g,this.protocol)?this.port=g:this.host=m,this.hostname=m}this.origin=this.protocol&amp;&amp;this.host&amp;&amp;&quot;file:&quot;!==this.protocol?this.protocol+&quot;//&quot;+this.host:&quot;null&quot;,this.href=this.toString()}var e=t.prototype;return e.toString=function(){var t=this.protocol;if(t+=&quot;//&quot;,this.auth){var e=this.auth.split(&quot;:&quot;);t+=(e[0]?&quot;[REDACTED]&quot;:&quot;&quot;)+(e[1]?&quot;:[REDACTED]&quot;:&quot;&quot;)+&quot;@&quot;}return t+=this.host,t+=this.path,t+=this.query,t+=this.hash},e.getLocation=function(){var t={};return y&amp;&amp;(t=window),t.location},e.extractProtocol=function(t){var e=qt.exec(t);return{protocol:e[1]?e[1].toLowerCase():&quot;&quot;,slashes:!!e[2],address:e[3]}},t}();var Dt=91,zt=93,Bt=&quot;external&quot;,Ut=&quot;resource&quot;;function $t(t){var e={transfer_size:t.transferSize,encoded_body_size:t.encodedBodySize,decoded_body_size:t.decodedBodySize},n=function(t){void 0===t&amp;&amp;(t=[]);for(var e=[],n=0;n&lt;t.length;n++){var r=t[n],i=r.name,a=r.duration,o=r.description,s=i;o&amp;&amp;(s+=&quot;;desc=&quot;+o),a&amp;&amp;(s+=&quot;;dur=&quot;+a),e.push(s)}return e.join(&quot;, &quot;)}(t.serverTiming);return n&amp;&amp;(e.headers={&quot;server-timing&quot;:n}),e}function Vt(t,e){var n=t.port,r=t.protocol,i=t.hostname,a=t.host,o=function(t,e){return&quot;&quot;===t&amp;&amp;(t=&quot;http:&quot;===e?&quot;80&quot;:&quot;https:&quot;===e?&quot;443&quot;:&quot;&quot;),t}(n,r),s=i.charCodeAt(0)===Dt&amp;&amp;i.charCodeAt(i.length-1)===zt,c=i;return s&amp;&amp;(c=i.slice(1,-1)),{service:{name:r+&quot;//&quot;+a,resource:i+&quot;:&quot;+o,type:e},address:c,port:Number(o)}}function Xt(){return{page:{referer:document.referrer,url:window.location.href}}}function Jt(t,e){if(e){var n;switch(t.type){case Bt:n=function(t){var e,n=t.url,r=t.method,i=t.target,a=t.response,o=new Ht(n),s=Vt(o,Bt),c={http:{method:r,url:o.href},destination:s};return i&amp;&amp;void 0!==i.status?e=i.status:a&amp;&amp;(e=a.status),c.http.status_code=e,c}(e);break;case Ut:n=function(t){var e=t.entry,n=t.url,r=Vt(new Ht(n),Ut);return{http:{url:n,response:$t(e)},destination:r}}(e)}t.addContext(n)}}function Zt(t,e){var n=void 0===e?{}:e,r=(n.tags,function(t,e){if(null==t)return{};var n,r,i={},a=Object.keys(t);for(r=0;r&lt;a.length;r++)n=a[r],e.indexOf(n)&gt;=0||(i[n]=t[n]);return i}(n,[&quot;tags&quot;])),i=Xt(),a={};if(t.type===et&amp;&amp;D()){var o=_.getEntriesByType(lt);o&amp;&amp;o.length&gt;0&amp;&amp;(a={response:$t(o[0])})}t.addContext(i,a,r)}var Gt=function(t){var e,n;function r(e,n,r){var i;if((i=t.call(this,e,n,r)||this).parentId=i.options.parentId,i.subtype=void 0,i.action=void 0,-1!==i.type.indexOf(&quot;.&quot;)){var a=i.type.split(&quot;.&quot;,3);i.type=a[0],i.subtype=a[1],i.action=a[2]}return i.sync=i.options.sync,i}return n=t,(e=r).prototype=Object.create(n.prototype),e.prototype.constructor=e,e.__proto__=n,r.prototype.end=function(e,n){t.prototype.end.call(this,e),Jt(this,n)},r}(Pt),Kt={fcp:0,tbt:{start:1/0,duration:0}},Qt=50;function Wt(t,e){var n=e.capturePaint,r=t.getEntriesByType(dt),i={spans:function(t){for(var e=[],n=0;n&lt;t.length;n++){var r=t[n],i=r.name,a=r.startTime,o=r.duration,s=r.attribution,c=a+o,u=new Gt(&quot;Longtask(&quot;+i+&quot;)&quot;,dt,{startTime:a});if(s.length&gt;0){var f=s[0],d=f.name,p=f.containerType,l=f.containerName,v=f.containerId,h={attribution:d,type:p};l&amp;&amp;(h.name=l),v&amp;&amp;(h.id=v),u.addContext({custom:h})}u.end(c),e.push(u)}return e}(r),marks:{}};if(!n)return i;var a=t.getEntriesByType(gt),o=a[a.length-1];if(o){var s=parseInt(o.startTime);Kt.lcp=s,i.marks.largestContentfulPaint=s}var c=_.timing,u=c.fetchStart-c.navigationStart,f=t.getEntriesByName(ht)[0];if(f){var d=parseInt(u&gt;=0?f.startTime-u:f.startTime);Kt.fcp=d,i.marks.firstContentfulPaint=d}var p=function(t){var e=t[0];if(e&amp;&amp;!Kt.wasHidden){var n=e.startTime,r=e.processingStart,i=new Gt(&quot;First Input Delay&quot;,mt,{startTime:n});return i.end(r),i}}(t.getEntriesByType(mt));return p&amp;&amp;i.spans.push(p),function(t){t.forEach((function(t){var e=t.name,n=t.startTime,r=t.duration;if(!(n&lt;Kt.fcp||&quot;self&quot;!==e&amp;&amp;-1===e.indexOf(&quot;same-origin&quot;))){Kt.tbt.start=Math.min(Kt.tbt.start,n);var i=r-Qt;i&gt;0&amp;&amp;(Kt.tbt.duration+=i)}}))}(r),i}var Yt=function(){function t(t){this.po={observe:R,disconnect:R},window.PerformanceObserver&amp;&amp;(this.po=new PerformanceObserver(t))}var e=t.prototype;return e.start=function(t){try{var e=!0;t===dt&amp;&amp;(e=!1),this.po.observe({type:t,buffered:e})}catch(t){}},e.stop=function(){this.po.disconnect()},t}();var te=!1;function ee(){return x()?(At(),Kt.wasHidden=&quot;hidden&quot;===document.visibilityState,window.addEventListener(&quot;visibilitychange&quot;,(function(){&quot;hidden&quot;===document.visibilityState&amp;&amp;(Kt.wasHidden=!0)}),{capture:!0,once:!0}),te=!0):y&amp;&amp;console.log(&quot;[Elastic APM] platform is not supported!&quot;),te}var ne=n(0),re=n.n(ne);function ie(t){var e=t.error,n=t.filename,r=t.lineno,i=t.colno,a=[];if(e)try{a=re.a.parse(e)}catch(t){}return 0===a.length&amp;&amp;(a=[{fileName:n,lineNumber:r,columnNumber:i}]),a.map((function(t){return t.functionName&amp;&amp;(t.functionName=(e=t.functionName,n=e.split(&quot;/&quot;),e=(e=(e=n.length&gt;1?[&quot;Object&quot;,n[n.length-1]].join(&quot;.&quot;):n[0]).replace(/.&lt;$/gi,&quot;.&lt;anonymous&gt;&quot;)).replace(/^Anonymous function$/,&quot;&lt;anonymous&gt;&quot;),e=(n=e.split(&quot;.&quot;)).length&gt;1?n[n.length-1]:n[0])),t;var e,n})).map((function(t){var e=t.fileName,n=t.lineNumber,r=t.columnNumber,i=t.functionName,a=void 0===i?&quot;&lt;anonymous&gt;&quot;:i;if(!e&amp;&amp;!n)return{};if(!r&amp;&amp;!n)return{};var o,s,c=function(t){return void 0===t&amp;&amp;(t=&quot;&quot;),&quot;&lt;anonymous&gt;&quot;===t&amp;&amp;(t=&quot;&quot;),t}(e),u=(o=c,s=window.location.origin||window.location.protocol+&quot;//&quot;+window.location.hostname+(window.location.port?&quot;:&quot;+window.location.port:&quot;&quot;),o.indexOf(s)&gt;-1&amp;&amp;(o=o.replace(s+&quot;/&quot;,&quot;&quot;)),o);return function(t){return!!t&amp;&amp;0===window.location.href.indexOf(t)}(c)&amp;&amp;(u=&quot;(inline script)&quot;),{abs_path:e,filename:u,function:a,lineno:n,colno:r}}))}var ae={service:{name:[wt,!0],version:!0,agent:{version:[wt,!0]},environment:!0},labels:{&quot;*&quot;:!0}},oe={&quot;*&quot;:!0,headers:{&quot;*&quot;:!0}},se={user:{id:!0,email:!0,username:!0},tags:{&quot;*&quot;:!0},http:{response:oe},destination:{address:[wt],service:{&quot;*&quot;:[wt,!0]}},response:oe},ce={name:[wt,!0],type:[wt,!0],id:[wt,!0],trace_id:[wt,!0],parent_id:[wt,!0],transaction_id:[wt,!0],subtype:!0,action:!0,context:se},ue={name:!0,parent_id:!0,type:[wt,!0],id:[wt,!0],trace_id:[wt,!0],span_count:{started:[wt,!0]},context:se},fe={id:[wt,!0],trace_id:!0,transaction_id:!0,parent_id:!0,culprit:!0,exception:{type:!0},transaction:{type:!0},context:se};function de(t){return null==t||&quot;&quot;===t||void 0===t}function pe(t,e,n){var r=function(t,e,n,r){return void 0===e&amp;&amp;(e=wt),void 0===n&amp;&amp;(n=!1),void 0===r&amp;&amp;(r=&quot;N/A&quot;),n&amp;&amp;de(t)&amp;&amp;(t=r),&quot;string&quot;==typeof t?t.substring(0,e):t}(t[e],n[0],n[1]);de(r)?delete t[e]:t[e]=r}function le(t,e,n){void 0===t&amp;&amp;(t={}),void 0===n&amp;&amp;(n=e);for(var r=Object.keys(t),i=[],a=function(a){var o=r[a],s=!0===t[o]?i:t[o];Array.isArray(s)?&quot;*&quot;===o?Object.keys(n).forEach((function(t){return pe(n,t,s)})):pe(n,o,s):le(s,e,n[o])},o=0;o&lt;r.length;o++)a(o);return e}var ve=[&quot;stack&quot;,&quot;message&quot;];var he=function(){function t(t,e,n){this._apmServer=t,this._configService=e,this._transactionService=n}var e=t.prototype;return e.createErrorDataModel=function(t){var e=function(t){return t.filter((function(t){var e=t.filename,n=t.lineno;return void 0!==e&amp;&amp;void 0!==n}))}(ie(t)),n=&quot;(inline script)&quot;,r=e[e.length-1];r&amp;&amp;r.filename&amp;&amp;(n=r.filename);var i=t.message,a=t.error,o=i,s=&quot;&quot;,c={};if(a&amp;&amp;&quot;object&quot;==typeof a){o=o||a.message,s=a.name;var u=function(t){var e=!1,n={};if(Object.keys(t).forEach((function(r){if(!(ve.indexOf(r)&gt;=0)){var i=t[r];if(null!=i&amp;&amp;&quot;function&quot;!=typeof i){if(&quot;object&quot;==typeof i){if(&quot;function&quot;!=typeof i.toISOString)return;i=i.toISOString()}n[r]=i,e=!0}}})),e)return n}(a);u&amp;&amp;(c.custom=u)}s||o&amp;&amp;o.indexOf(&quot;:&quot;)&gt;-1&amp;&amp;(s=o.split(&quot;:&quot;)[0]);var f=this._transactionService.getCurrentTransaction(),d=f?f.context:{},p=this._configService.get(&quot;context&quot;),l=(p.tags,function(t,e){if(null==t)return{};var n,r,i={},a=Object.keys(t);for(r=0;r&lt;a.length;r++)n=a[r],e.indexOf(n)&gt;=0||(i[n]=t[n]);return i}(p,[&quot;tags&quot;])),v=j({},Xt(),d,l,c),h={id:T(),culprit:n,exception:{message:o,stacktrace:e,type:s},context:v};return f&amp;&amp;(h=N(h,{trace_id:f.traceId,parent_id:f.id,transaction_id:f.id,transaction:{type:f.type,sampled:f.sampled}})),le(fe,h)},e.logErrorEvent=function(t){if(void 0!==t){var e=this.createErrorDataModel(t);void 0!==e.exception.message&amp;&amp;this._apmServer.addError(e)}},e.registerListeners=function(){var t=this;window.addEventListener(&quot;error&quot;,(function(e){return t.logErrorEvent(e)})),window.addEventListener(&quot;unhandledrejection&quot;,(function(e){return t.logPromiseEvent(e)}))},e.logPromiseEvent=function(t){var e=&quot;Unhandled promise rejection: &quot;,n=t.reason;null==n?this.logError(e+&quot;&lt;no reason specified&gt;&quot;):&quot;string&quot;==typeof n.message?this.logError({message:e+n.message,stack:n.stack?n.stack:null}):&quot;object&quot;!=typeof n&amp;&amp;this.logError(e+n)},e.logError=function(t){var e={};return&quot;string&quot;==typeof t?e.message=t:e.error=t,this.logErrorEvent(e)},t}(),ge=function(){function t(t,e){void 0===e&amp;&amp;(e={}),this.onFlush=t,this.items=[],this.queueLimit=e.queueLimit||-1,this.flushInterval=e.flushInterval||0,this.timeoutId=void 0}var e=t.prototype;return e._setTimer=function(){var t=this;this.timeoutId=setTimeout((function(){return t.flush()}),this.flushInterval)},e._clear=function(){void 0!==this.timeoutId&amp;&amp;(clearTimeout(this.timeoutId),this.timeoutId=void 0),this.items=[]},e.flush=function(){this.onFlush(this.items),this._clear()},e.add=function(t){this.items.push(t),-1!==this.queueLimit&amp;&amp;this.items.length&gt;=this.queueLimit?this.flush():void 0===this.timeoutId&amp;&amp;this._setTimer()},t}();var me=function(){function t(){}return t.stringify=function(t){return JSON.stringify(t)+&quot;\n&quot;},t}(),ye=[[&quot;domainLookupStart&quot;,&quot;domainLookupEnd&quot;,&quot;Domain lookup&quot;],[&quot;connectStart&quot;,&quot;connectEnd&quot;,&quot;Making a connection to the server&quot;],[&quot;requestStart&quot;,&quot;responseEnd&quot;,&quot;Requesting and receiving the document&quot;],[&quot;domLoading&quot;,&quot;domInteractive&quot;,&quot;Parsing the document, executing sync. scripts&quot;],[&quot;domContentLoadedEventStart&quot;,&quot;domContentLoadedEventEnd&quot;,'Fire &quot;DOMContentLoaded&quot; event'],[&quot;loadEventStart&quot;,&quot;loadEventEnd&quot;,'Fire &quot;load&quot; event']];function _e(t,e,n,r,i){return void 0===i&amp;&amp;(i=0),&quot;number&quot;==typeof t&amp;&amp;&quot;number&quot;==typeof e&amp;&amp;t&gt;=i&amp;&amp;e&gt;t&amp;&amp;t-i&gt;=n&amp;&amp;e-i&lt;=r&amp;&amp;e-t&lt;tt&amp;&amp;t-i&lt;tt&amp;&amp;e-i&lt;tt}function be(t){var e=t.name,n=t.initiatorType,r=t.startTime,i=t.responseEnd,a=&quot;resource&quot;;n&amp;&amp;(a+=&quot;.&quot;+n);var o=L(e),s=new Gt(o,a);return s._start=r,s.end(i,{url:e,entry:t}),s}var Se=[&quot;fetchStart&quot;,&quot;domainLookupStart&quot;,&quot;domainLookupEnd&quot;,&quot;connectStart&quot;,&quot;connectEnd&quot;,&quot;requestStart&quot;,&quot;responseStart&quot;,&quot;responseEnd&quot;,&quot;domLoading&quot;,&quot;domInteractive&quot;,&quot;domContentLoadedEventStart&quot;,&quot;domContentLoadedEventEnd&quot;,&quot;domComplete&quot;,&quot;loadEventStart&quot;,&quot;loadEventEnd&quot;],we=[&quot;fs&quot;,&quot;ls&quot;,&quot;le&quot;,&quot;cs&quot;,&quot;ce&quot;,&quot;qs&quot;,&quot;rs&quot;,&quot;re&quot;,&quot;dl&quot;,&quot;di&quot;,&quot;ds&quot;,&quot;de&quot;,&quot;dc&quot;,&quot;es&quot;,&quot;ee&quot;];function Te(t){var e=function(t){var e=t.fetchStart,n=t.navigationStart;if(n&amp;&amp;e&lt;n)return null;var r={};return Se.forEach((function(n){var i=t[n];i&amp;&amp;i&gt;=e&amp;&amp;(r[n]=parseInt(i-e))})),r}(t);return null==e?null:{navigationTiming:e,agent:{timeToFirstByte:e.responseStart,domInteractive:e.domInteractive,domComplete:e.domComplete}}}function Ee(t){if(t.captureTimings){var e=t._end;if(t.type===et){if(t.marks&amp;&amp;t.marks.custom){var n=t.marks.custom;Object.keys(n).forEach((function(e){n[e]+=t._start}))}t._start=0;var r=_.timing;(function(t,e,n,r){for(var i=[],a=0;a&lt;ye.length;a++){var o=t[ye[a][0]],s=t[ye[a][1]];if(_e(o,s,n,r,e)){var c=new Gt(ye[a][2],&quot;hard-navigation.browser-timing&quot;);&quot;requestStart&quot;===ye[a][0]&amp;&amp;(c.pageResponse=!0),c._start=o-e,c.end(s-e),i.push(c)}}return i})(r,r.fetchStart,0,e).forEach((function(e){e.traceId=t.traceId,e.sampled=t.sampled,e.pageResponse&amp;&amp;t.options.pageLoadSpanId&amp;&amp;(e.id=t.options.pageLoadSpanId),t.spans.push(e)})),t.addMarks(Te(r))}if(D()){var i=t._start;(function(t,e,n,r){for(var i=[],a=0;a&lt;t.length;a++){var o=t[a],s=o.initiatorType,c=o.name,u=o.startTime,f=o.responseEnd;if(&quot;xmlhttprequest&quot;!==s&amp;&amp;&quot;fetch&quot;!==s&amp;&amp;c)if(-1!==Y.indexOf(s)){if(!_e(u,f,n,r))continue;i.push(be(t[a]))}else{if(null!=s)continue;for(var d=!1,p=0;p&lt;e.length;p++){var l=c.lastIndexOf(e[p]);if(l&gt;-1&amp;&amp;l===c.length-e[p].length){d=!0;break}}!d&amp;&amp;_e(u,f,n,r)&amp;&amp;i.push(be(t[a]))}}return i})(_.getEntriesByType(vt),function(t){for(var e=t.spans,n=[],r=0;r&lt;e.length;r++){var i=e[r];&quot;external&quot;===i.type&amp;&amp;&quot;http&quot;===i.subtype&amp;&amp;n.push(i.name.split(&quot; &quot;)[1])}return n}(t),i,e).forEach((function(e){return t.spans.push(e)})),function(t,e,n){for(var r=[],i=0;i&lt;t.length;i++){var a=t[i],o=a.name,s=a.startTime,c=a.duration,u=s+c;if(!(c&lt;=at)&amp;&amp;_e(s,u,e,n)){var f=new Gt(o,&quot;app&quot;);f._start=s,f.end(u),r.push(f)}}return r}(_.getEntriesByType(pt),i,e).forEach((function(e){return t.spans.push(e)}))}}}function xe(t){return{ts:t.transfer_size,ebs:t.encoded_body_size,dbs:t.decoded_body_size}}function ke(t){if(!t)return null;var e={},n=t.page,r=t.http,i=t.response,a=t.destination,o=t.user,s=t.custom;if(n&amp;&amp;(e.p={rf:n.referer,url:n.url}),r&amp;&amp;(e.h=function(t){var e={},n=t.method,r=t.status_code,i=t.url,a=t.response;return e.url=i,n&amp;&amp;(e.mt=n),r&amp;&amp;(e.sc=r),a&amp;&amp;(e.r=xe(a)),e}(r)),i&amp;&amp;(e.r=xe(i)),a){var c=a.service;e.dt={se:{n:c.name,t:c.type,rc:c.resource},ad:a.address,po:a.port}}return o&amp;&amp;(e.u={id:o.id,un:o.username,em:o.email}),s&amp;&amp;(e.cu=s),e}function Le(t){if(!t)return null;var e=t.navigationTiming,n=t.agent,r={nt:{}};we.forEach((function(t,n){var i=Se[n];r.nt[t]=e[i]})),r.a={fb:r.nt.rs,di:r.nt.di,dc:r.nt.dc};var i=n.firstContentfulPaint,a=n.largestContentfulPaint;return i&amp;&amp;(r.a.fp=i),a&amp;&amp;(r.a.lp=a),r}var Oe=function(){function t(t,e){this._configService=t,this._loggingService=e,this.queue=void 0,this.throttleEvents=R}var e=t.prototype;return e.init=function(){var t=this,e=this._configService.get(&quot;queueLimit&quot;),n=this._configService.get(&quot;flushInterval&quot;),r=this._configService.get(&quot;eventsLimit&quot;);this.queue=new ge((function(e){var n=t.sendEvents(e);n&amp;&amp;n.catch((function(e){t._loggingService.warn(&quot;Failed sending events!&quot;,t._constructError(e))}))}),{queueLimit:e,flushInterval:n}),this.throttleEvents=function(t,e,n){var r,i=this,a=n.limit,o=n.interval,s=0;return function(){return s++,void 0===r&amp;&amp;(r=setTimeout((function(){s=0,r=void 0}),o)),s&gt;a&amp;&amp;&quot;function&quot;==typeof e?e.apply(i,arguments):t.apply(i,arguments)}}(this.queue.add.bind(this.queue),(function(){return t._loggingService.warn(&quot;Dropped events due to throttling!&quot;)}),{limit:r,interval:6e4})},e._postJson=function(t,e){return this._makeHttpRequest(&quot;POST&quot;,t,{payload:e,headers:{&quot;Content-Type&quot;:&quot;application/x-ndjson&quot;}}).then((function(t){return t.responseText}))},e._constructError=function(t){var e=t.url,n=t.status;t.responseText;if(void 0===n)return t;var r=e+&quot; HTTP status: &quot;+n;return new Error(r)},e._makeHttpRequest=function(t,e,n){var r=void 0===n?{timeout:1e4}:n,i=r.timeout,a=r.payload,o=r.headers;return new g((function(n,r){var s=new window.XMLHttpRequest;if(s[$]=!0,s.open(t,e,!0),s.timeout=i,o)for(var c in o)o.hasOwnProperty(c)&amp;&amp;s.setRequestHeader(c,o[c]);s.onreadystatechange=function(){if(4===s.readyState){var t=s.status,i=s.responseText;0===t||t&gt;399&amp;&amp;t&lt;600?r({url:e,status:t,responseText:i}):n(s)}},s.onerror=function(){var t=s.status,n=s.responseText;r({url:e,status:t,responseText:n})},s.send(a)}))},e.fetchConfig=function(t,e){var n=this,r=this._configService.get(&quot;serverUrl&quot;)+&quot;/config/v1/rum/agents&quot;;if(!t)return g.reject(&quot;serviceName is required for fetching central config.&quot;);r+=&quot;?service.name=&quot;+t,e&amp;&amp;(r+=&quot;&amp;service.environment=&quot;+e);var i=this._configService.getLocalConfig();return i&amp;&amp;(r+=&quot;&amp;ifnonematch=&quot;+i.etag),this._makeHttpRequest(&quot;GET&quot;,r,{timeout:5e3}).then((function(t){var e=t.status,r=t.responseText;if(304===e)return i;var a=JSON.parse(r),o=t.getResponseHeader(&quot;etag&quot;);return o&amp;&amp;(a.etag=o.replace(/[&quot;]/g,&quot;&quot;),n._configService.setLocalConfig(a)),a})).catch((function(t){var e=n._constructError(t);return g.reject(e)}))},e.createMetaData=function(){var t=this._configService,e={service:{name:t.get(&quot;serviceName&quot;),version:t.get(&quot;serviceVersion&quot;),agent:{name:&quot;rum-js&quot;,version:t.version},language:{name:&quot;javascript&quot;},environment:t.get(&quot;environment&quot;)},labels:t.get(&quot;context.tags&quot;)};return le(ae,e)},e.addError=function(t){var e;this.throttleEvents(((e={}).errors=t,e))},e.addTransaction=function(t){var e;this.throttleEvents(((e={}).transactions=t,e))},e.ndjsonErrors=function(t,e){var n=e?&quot;e&quot;:&quot;error&quot;;return t.map((function(t){var r;return me.stringify(((r={})[n]=e?function(t){var e,n=t.exception,r={id:t.id,cl:t.culprit,ex:{mg:n.message,st:(e=n.stacktrace,e.map((function(t){return{ap:t.abs_path,f:t.filename,fn:t.function,li:t.lineno,co:t.colno}}))),t:t.type},c:ke(t.context)},i=t.transaction;return i&amp;&amp;(r.tid=t.trace_id,r.pid=t.parent_id,r.xid=t.transaction_id,r.x={t:i.type,sm:i.sampled}),r}(t):t,r))}))},e.ndjsonMetricsets=function(t){return t.map((function(t){return me.stringify({metricset:t})})).join(&quot;&quot;)},e.ndjsonTransactions=function(t,e){var n=this,r=e?&quot;x&quot;:&quot;transaction&quot;;return t.map((function(t){var i,a=&quot;&quot;,o=&quot;&quot;;return e||(t.spans&amp;&amp;(a=t.spans.map((function(t){return me.stringify({span:t})})).join(&quot;&quot;),delete t.spans),t.breakdown&amp;&amp;(o=n.ndjsonMetricsets(t.breakdown),delete t.breakdown)),me.stringify(((i={})[r]=e?function(t){var e,n=t.spans.map((function(e){var n={id:e.id,n:e.name,t:e.type,s:e.start,d:e.duration,c:ke(e.context)};return e.parent_id!==t.id&amp;&amp;(n.pid=e.parent_id),!0===e.sync&amp;&amp;(n.sy=!0),e.subtype&amp;&amp;(n.su=e.subtype),e.action&amp;&amp;(n.ac=e.action),n}));return{id:t.id,tid:t.trace_id,n:t.name,t:t.type,d:t.duration,c:ke(t.context),m:Le(t.marks),me:(e=t.breakdown,e.map((function(t){var e=t.span,n=t.samples,r=null!=e;return r?{y:{t:e.type},sa:{ysc:{v:n[&quot;span.self_time.count&quot;].value},yss:{v:n[&quot;span.self_time.sum.us&quot;].value}}}:{sa:{xdc:{v:n[&quot;transaction.duration.count&quot;].value},xds:{v:n[&quot;transaction.duration.sum.us&quot;].value},xbc:{v:n[&quot;transaction.breakdown.count&quot;].value}}}}))),y:n,yc:{sd:n.length},sm:t.sampled}}(t):t,i))+a+o}))},e.sendEvents=function(t){var e,n;if(0!==t.length){for(var r=[],i=[],a=0;a&lt;t.length;a++){var o=t[a];o.transactions&amp;&amp;r.push(o.transactions),o.errors&amp;&amp;i.push(o.errors)}if(0!==r.length||0!==i.length){var s=this._configService,c=((e={}).transactions=r,e.errors=i,e),u=s.applyFilters(c);if(u){var f=s.get(&quot;apiVersion&quot;),d=f&gt;2,p=[],l=this.createMetaData(),v=d?&quot;m&quot;:&quot;metadata&quot;;p.push(me.stringify(((n={})[v]=d?function(t){var e=t.service,n=t.labels,r=e.agent,i=e.language;return{se:{n:e.name,ve:e.version,a:{n:r.name,ve:r.version},la:{n:i.name},en:e.environment},l:n}}(l):l,n)));var h=(p=p.concat(this.ndjsonErrors(u.errors,d),this.ndjsonTransactions(u.transactions,d))).join(&quot;&quot;),g=s.get(&quot;serverUrl&quot;)+&quot;/intake/v&quot;+f+&quot;/rum/events&quot;;return this._postJson(g,h)}this._loggingService.warn(&quot;Dropped payload due to filtering!&quot;)}}},t}();var Ie,Ce=function(){function t(){this.config={serviceName:&quot;&quot;,serviceVersion:&quot;&quot;,environment:&quot;&quot;,serverUrl:&quot;http://localhost:8200&quot;,active:!0,instrument:!0,disableInstrumentations:[],logLevel:&quot;warn&quot;,breakdownMetrics:!1,ignoreTransactions:[],eventsLimit:80,queueLimit:-1,flushInterval:500,distributedTracing:!0,distributedTracingOrigins:[],distributedTracingHeaderName:&quot;traceparent&quot;,pageLoadTraceId:&quot;&quot;,pageLoadSpanId:&quot;&quot;,pageLoadSampled:!1,pageLoadTransactionName:&quot;&quot;,transactionSampleRate:1,centralConfig:!1,monitorLongtasks:!0,apiVersion:2,context:{}},this.events=new jt,this.filters=[],this.version=&quot;&quot;}var e=t.prototype;return e.init=function(){var t=function(t){if(!t)return{};for(var e={},n=/^data-([\w-]+)$/,r=t.attributes,i=0;i&lt;r.length;i++){var a=r[i];if(n.test(a.nodeName)){var o=a.nodeName.match(n)[1].split(&quot;-&quot;).map((function(t,e){return e&gt;0?t.charAt(0).toUpperCase()+t.substring(1):t})).join(&quot;&quot;);e[o]=a.value||a.nodeValue}}return e}(C());this.setConfig(t)},e.isActive=function(){return this.get(&quot;active&quot;)},e.setVersion=function(t){this.version=t},e.addFilter=function(t){if(&quot;function&quot;!=typeof t)throw new Error(&quot;Argument to must be function&quot;);this.filters.push(t)},e.applyFilters=function(t){for(var e=0;e&lt;this.filters.length;e++)if(!(t=this.filters[e](t)))return;return t},e.get=function(t){return t.split(&quot;.&quot;).reduce((function(t,e){return t&amp;&amp;t[e]}),this.config)},e.setUserContext=function(t){void 0===t&amp;&amp;(t={});var e={},n=t,r=n.id,i=n.username,a=n.email;&quot;number&quot;!=typeof r&amp;&amp;&quot;string&quot;!=typeof r||(e.id=r),&quot;string&quot;==typeof i&amp;&amp;(e.username=i),&quot;string&quot;==typeof a&amp;&amp;(e.email=a),this.config.context.user=N(this.config.context.user||{},e)},e.setCustomContext=function(t){void 0===t&amp;&amp;(t={}),this.config.context.custom=N(this.config.context.custom||{},t)},e.addLabels=function(t){var e=this;this.config.context.tags||(this.config.context.tags={}),Object.keys(t).forEach((function(n){return k(n,t[n],e.config.context.tags)}))},e.setConfig=function(t){void 0===t&amp;&amp;(t={}),t.serverUrl&amp;&amp;(t.serverUrl=t.serverUrl.replace(/\/+$/,&quot;&quot;)),j(this.config,t),this.events.send(&quot;config:change&quot;,[this.config])},e.validate=function(t){void 0===t&amp;&amp;(t={});var e=[&quot;serviceName&quot;,&quot;serverUrl&quot;],n={missing:[],invalid:[]};Object.keys(t).forEach((function(r){-1===e.indexOf(r)||t[r]||n.missing.push(r)})),t.serviceName&amp;&amp;!/^[a-zA-Z0-9 _-]+$/.test(t.serviceName)&amp;&amp;n.invalid.push({key:&quot;serviceName&quot;,value:t.serviceName,allowed:&quot;a-z, A-Z, 0-9, _, -, &lt;space&gt;&quot;});var r=t.transactionSampleRate;return void 0!==r&amp;&amp;(&quot;number&quot;!=typeof r||isNaN(r)||r&lt;0||r&gt;1)&amp;&amp;n.invalid.push({key:&quot;transactionSampleRate&quot;,value:r,allowed:&quot;Number between 0 and 1&quot;}),n},e.getLocalConfig=function(){var t=sessionStorage.getItem(&quot;elastic_apm_config&quot;);if(t)return JSON.parse(t)},e.setLocalConfig=function(t){t&amp;&amp;sessionStorage.setItem(&quot;elastic_apm_config&quot;,JSON.stringify(t))},t}(),Ne=function(){function t(t){void 0===t&amp;&amp;(t={}),this.levels=[&quot;trace&quot;,&quot;debug&quot;,&quot;info&quot;,&quot;warn&quot;,&quot;error&quot;],this.level=t.level||&quot;info&quot;,this.prefix=t.prefix||&quot;&quot;,this.resetLogMethods()}var e=t.prototype;return e.shouldLog=function(t){return this.levels.indexOf(t)&gt;=this.levels.indexOf(this.level)},e.setLevel=function(t){this.level=t,this.resetLogMethods()},e.resetLogMethods=function(){var t=this;this.levels.forEach((function(e){t[e]=t.shouldLog(e)?function(){var n,r=t.prefix;switch(e){case&quot;trace&quot;:case&quot;debug&quot;:n=&quot;info&quot;;break;default:n=e}var i=arguments;r&amp;&amp;(i[0]=r+i[0]);if(console){var a=console[n]||console.log;&quot;function&quot;==typeof a&amp;&amp;a.apply(console,i)}}:R}))},t}(),je=((Ie={})[yt]=function(){return new Ce},Ie[_t]=function(){return new Ne({prefix:&quot;[Elastic APM] &quot;})},Ie[bt]=function(t){var e=t.getService([yt,_t]),n=e[0],r=e[1];return new Oe(n,r)},Ie),Fe=function(){function t(){this.instances={},this.initialized=!1}var e=t.prototype;return e.init=function(){if(!this.initialized){this.initialized=!0;var t=this.getService(yt);t.init();var e=this.getService(_t);n(e,t),t.events.observe(&quot;config:change&quot;,(function(){n(e,t)})),this.getService(bt).init()}function n(t,e){var n=e.get(&quot;logLevel&quot;);t.setLevel(n)}},e.getService=function(t){var e=this;return&quot;string&quot;==typeof t?(this.instances[t]||&quot;function&quot;==typeof je[t]&amp;&amp;(this.instances[t]=je[t](this)),this.instances[t]):Array.isArray(t)?t.map((function(t){return e.getService(t)})):void 0},t}();var Re=.05;var Ae=function(){function t(t,e,n,r){this._apmServer=t,this._configService=e,this._logginService=n,this._transactionService=r}var e=t.prototype;return e.init=function(t){var e=this;void 0===t&amp;&amp;(t={}),this._configService.events.observe(&quot;transaction:end:after&quot;,(function(t){var n=e.createTransactionPayload(t);n&amp;&amp;e._apmServer.addTransaction(n)})),t[ct]&amp;&amp;Ft.observe(ct,this.getHistorySub()),t[ot]&amp;&amp;Ft.observe(ot,this.getXHRSub()),t[st]&amp;&amp;Ft.observe(st,this.getFetchSub()),t[ut]&amp;&amp;Ft.observe(ut,this.getEventTargetSub())},e.getEventTargetSub=function(){var t=this._transactionService;return function(e,n){if(e===Z&amp;&amp;n.source===ut&amp;&amp;&quot;click&quot;===n.eventType){var r=n.target,i=r.getAttribute(&quot;name&quot;),a=&quot;&quot;;i&amp;&amp;(a='[&quot;'+i+'&quot;]');var o=r.tagName.toLowerCase(),s=t.startTransaction(&quot;Click - &quot;+o+a,&quot;user-interaction&quot;,{managed:!0,canReuse:!0,reuseThreshold:100});if(s){var c=r.getAttribute(&quot;class&quot;);c&amp;&amp;s.addContext({custom:{classes:c}})}}}},e.getHistorySub=function(){var t=this._transactionService;return function(e,n){n.source===ct&amp;&amp;e===G&amp;&amp;t.startTransaction(n.data.title,&quot;route-change&quot;,{managed:!0,canReuse:!0})}},e.getXHRSub=function(){var t=this;return function(e,n){n.source!==ot||z.fetchInProgress||t.processAPICalls(e,n)}},e.getFetchSub=function(){var t=this;return function(e,n){n.source===st&amp;&amp;t.processAPICalls(e,n)}},e.processAPICalls=function(t,e){var n=this._configService,r=this._transactionService;if(t===Z&amp;&amp;e.data){var i=e.data,a=new Ht(i.url),o=i.method+&quot; &quot;+(a.relative?a.path:L(a.href));r.getCurrentTransaction()||r.startTransaction(o,&quot;http-request&quot;,{managed:!0});var s=r.startSpan(o,&quot;external.http&quot;),c=r.addTask();if(!s)return;var u=n.get(&quot;distributedTracing&quot;),f=n.get(&quot;distributedTracingOrigins&quot;),d=new Ht(window.location.href),p=E(a.origin,d.origin)||E(a.origin,f),l=i.target;u&amp;&amp;p&amp;&amp;l&amp;&amp;this.injectDtHeader(s,l),i.sync&amp;&amp;(s.sync=i.sync),i.span=s,e.id=c}else t===G&amp;&amp;(e.data&amp;&amp;e.data.span&amp;&amp;e.data.span.end(null,e.data),e.id&amp;&amp;r.removeTask(e.id))},e.injectDtHeader=function(t,e){var n,r=this._configService.get(&quot;distributedTracingHeaderName&quot;),i=function(t){if(t&amp;&amp;t.traceId&amp;&amp;t.id&amp;&amp;t.parentId){var e=t.sampled?&quot;01&quot;:&quot;00&quot;,n=t.sampled?t.id:t.parentId;return&quot;00-&quot;+t.traceId+&quot;-&quot;+n+&quot;-&quot;+e}}(t),a=/^[\da-f]{2}-[\da-f]{32}-[\da-f]{16}-[\da-f]{2}$/.test(n=i)&amp;&amp;&quot;00000000000000000000000000000000&quot;!==n.slice(3,35)&amp;&amp;&quot;0000000000000000&quot;!==n.slice(36,52);r&amp;&amp;i&amp;&amp;a&amp;&amp;(&quot;function&quot;==typeof e.setRequestHeader?e.setRequestHeader(r,i):e.headers&amp;&amp;&quot;function&quot;==typeof e.headers.append?e.headers.append(r,i):e[r]=i)},e.extractDtHeader=function(t){var e=this._configService.get(&quot;distributedTracingHeaderName&quot;);if(t)return function(t){var e=/^([\da-f]{2})-([\da-f]{32})-([\da-f]{16})-([\da-f]{2})$/.exec(t);if(e){var n=&quot;00&quot;!==e[4];return{traceId:e[2],id:e[3],sampled:n}}}(t[e])},e.filterTransaction=function(t){var e=t.duration();if(!e)return!1;if(t.isManaged()){if(e&gt;6e4)return!1;if(t.sampled&amp;&amp;0===t.spans.length)return!1;if(t.type!==et)if(!function(t,e,n){var r=t.browserResponsivenessCounter,i=t.duration();return r+n&gt;=Math.floor(i/e)}(t,500,3))return!1}return!0},e.createTransactionDataModel=function(t){var e=t._start,n=t.spans.map((function(n){var r={id:n.id,transaction_id:t.id,parent_id:n.parentId||t.id,trace_id:t.traceId,name:n.name,type:n.type,subtype:n.subtype,action:n.action,sync:n.sync,start:parseInt(n._start-e),duration:n.duration(),context:n.context};return le(ce,r)})),r={id:t.id,trace_id:t.traceId,name:t.name,type:t.type,duration:t.duration(),spans:n,context:t.context,marks:t.marks,breakdown:t.breakdownTimings,span_count:{started:n.length},sampled:t.sampled};return le(ue,r)},e.createTransactionPayload=function(t){var e=function(t){if(t.sampled){var e=t.spans.filter((function(e){return e.duration()&gt;0&amp;&amp;e._start&gt;=t._start&amp;&amp;e._end&lt;=t._end}));if(t.isManaged()){var n=function(t,e,n){t.sort((function(t,e){return t._start-e._start}));var r=[],i=1;return t.forEach((function(a,o){if(0===r.length)r.push(a);else{var s=r[r.length-1],c=s.type===a.type&amp;&amp;s.subtype===a.subtype&amp;&amp;s.action===a.action&amp;&amp;s.name===a.name&amp;&amp;a.duration()/e&lt;n&amp;&amp;(a._start-s._end)/e&lt;n,u=t.length===o+1;c&amp;&amp;(i++,s._end=a._end),i&gt;1&amp;&amp;(!c||u)&amp;&amp;(s.name=i+&quot;x &quot;+s.name,i=1),c||r.push(a)}})),r}(e,t.duration(),Re);t.spans=n}else t.spans=e}else t.resetSpans();return t}(t);if(this.filterTransaction(e))return this.createTransactionDataModel(t)},t}(),Pe=[[&quot;domainLookupStart&quot;,&quot;domainLookupEnd&quot;,&quot;DNS&quot;],[&quot;connectStart&quot;,&quot;connectEnd&quot;,&quot;TCP&quot;],[&quot;requestStart&quot;,&quot;responseStart&quot;,&quot;Request&quot;],[&quot;responseStart&quot;,&quot;responseEnd&quot;,&quot;Response&quot;],[&quot;domLoading&quot;,&quot;domComplete&quot;,&quot;Processing&quot;],[&quot;loadEventStart&quot;,&quot;loadEventEnd&quot;,&quot;Load&quot;]];function Me(t){return{value:t}}function qe(t,e){var n=e.details,r=e.count,i=void 0===r?1:r,a=e.duration;return{transaction:t,span:n,samples:{&quot;span.self_time.count&quot;:Me(i),&quot;span.self_time.sum.us&quot;:Me(a)}}}function He(t,e){void 0===e&amp;&amp;(e=_.timing);var n=[],r=t.duration(),i=t.name,a=t.type,o=t.sampled,s={name:i,type:a};if(n.push({transaction:s,samples:{&quot;transaction.duration.count&quot;:Me(1),&quot;transaction.duration.sum.us&quot;:Me(r),&quot;transaction.breakdown.count&quot;:Me(o?1:0)}}),!o)return n;if(a===et&amp;&amp;e)for(var c=0;c&lt;Pe.length;c++){var u=Pe[c],f=q(e[u[0]],e[u[1]]);0!==f&amp;&amp;null!=f&amp;&amp;n.push(qe(s,{details:{type:u[2]},duration:f}))}else{var d=function(t){var e={},n=function(t){var e=t.spans,n=t._start,r=t._end;if(0===e.length)return t.duration();e.sort((function(t,e){return t._start-e._start}));for(var i=e[0],a=i._end,o=i._start,s=a,c=o-n,u=1;u&lt;e.length;u++)o=(i=e[u])._start,a=i._end,o&gt;s?(c+=o-s,s=a):a&gt;s&amp;&amp;(s=a);return s&lt;r&amp;&amp;(c+=r-s),c}(t);e.app={count:1,duration:n};for(var r=t.spans,i=0;i&lt;r.length;i++){var a=r[i],o=a.duration();if(0!==o&amp;&amp;null!=o){var s=a.type,c=a.subtype,u=s.replace(St,&quot;&quot;);c&amp;&amp;(u+=&quot;.&quot;+c),e[u]||(e[u]={duration:0,count:0}),e[u].count++,e[u].duration+=o}}return e}(t);Object.keys(d).forEach((function(t){var e=t.split(&quot;.&quot;),r=e[0],i=e[1],a=d[t],o=a.duration,c=a.count;n.push(qe(s,{details:{type:r,subtype:i},duration:o,count:c}))}))}return n}var De=function(t){var e,n;function r(e,n,r){var i;return(i=t.call(this,e,n,r)||this).traceId=T(),i.marks=void 0,i.spans=[],i._activeSpans={},i.nextAutoTaskId=1,i._scheduledTasks=[],i.captureTimings=!1,i.breakdownTimings=[],i.sampled=Math.random()&lt;=i.options.transactionSampleRate,i.browserResponsivenessCounter=0,i}n=t,(e=r).prototype=Object.create(n.prototype),e.prototype.constructor=e,e.__proto__=n;var i=r.prototype;return i.addMarks=function(t){this.marks=j(this.marks||{},t)},i.mark=function(t){var e=A(t),n=P()-this._start,r={};r[e]=n,this.addMarks({custom:r})},i.canReuse=function(){var t=this.options.reuseThreshold||5e3;return!!this.options.canReuse&amp;&amp;!this.ended&amp;&amp;P()-this._start&lt;t},i.redefine=function(t,e,n){t&amp;&amp;(this.name=t),e&amp;&amp;(this.type=e),n&amp;&amp;N(this.options,n)},i.startSpan=function(t,e,n){var r=this;if(!this.ended){var i=N({},n);i.onEnd=function(t){r._onSpanEnd(t)},i.traceId=this.traceId,i.sampled=this.sampled,i.parentId||(i.parentId=this.id);var a=new Gt(t,e,i);return this._activeSpans[a.id]=a,a}},i.isFinished=function(){return 0===this._scheduledTasks.length},i.detectFinish=function(){this.isFinished()&amp;&amp;this.end()},i.end=function(t){if(!this.ended){for(var e in this.ended=!0,this._end=M(t),this._activeSpans){var n=this._activeSpans[e];n.type=n.type+St,n.end(t)}this.callOnEnd()}},i.captureBreakdown=function(){this.breakdownTimings=He(this)},i.addTask=function(t){if(void 0===t&amp;&amp;(t=&quot;task&quot;+this.nextAutoTaskId++),-1==this._scheduledTasks.indexOf(t))return this._scheduledTasks.push(t),t},i.removeTask=function(t){var e=this._scheduledTasks.indexOf(t);e&gt;-1&amp;&amp;this._scheduledTasks.splice(e,1),this.detectFinish()},i.resetSpans=function(){this.spans=[]},i._onSpanEnd=function(t){this.spans.push(t),delete this._activeSpans[t.id]},i.isManaged=function(){return!!this.options.managed},r}(Pt),ze=function(){function t(t,e){var n=this;this._config=e,this._logger=t,this.currentTransaction=void 0,this.respIntervalId=void 0,this.recorder=new Yt((function(t){var e=n.getCurrentTransaction();if(e&amp;&amp;e.captureTimings){var r,i=!1;e.type===et&amp;&amp;(i=!0);var a=Wt(t,{capturePaint:i}),o=a.spans,s=a.marks;(r=e.spans).push.apply(r,o),e.addMarks({agent:s})}}))}var e=t.prototype;return e.ensureCurrentTransaction=function(t,e,n){var r=this.getCurrentTransaction();return r||(r=new De(t,e,n),this.setCurrentTransaction(r),r)},e.getCurrentTransaction=function(){if(this.currentTransaction&amp;&amp;!this.currentTransaction.ended)return this.currentTransaction},e.setCurrentTransaction=function(t){this.currentTransaction=t},e.ensureRespInterval=function(t){var e=this,n=function(){clearInterval(e.respIntervalId),e.respIntervalId=void 0};t?void 0===this.respIntervalId&amp;&amp;(this.respIntervalId=setInterval((function(){var t=e.getCurrentTransaction();t?t.browserResponsivenessCounter++:n()}),500)):void 0!==this.respIntervalId&amp;&amp;n()},e.createOptions=function(t){var e=this._config.config,n=N({transactionSampleRate:e.transactionSampleRate},t);return n.managed&amp;&amp;(n=N({pageLoadTraceId:e.pageLoadTraceId,pageLoadSampled:e.pageLoadSampled,pageLoadSpanId:e.pageLoadSpanId,pageLoadTransactionName:e.pageLoadTransactionName},n)),n},e.startManagedTransaction=function(t,e,n){var r=this.getCurrentTransaction(),i=!1;if(r)if(r.canReuse()&amp;&amp;n.canReuse){var a=r.type,o=it.indexOf(r.type),s=it.indexOf(e);o&gt;=0&amp;&amp;s&lt;o&amp;&amp;(a=e),r.redefine(t,a,n),i=!0}else r.end(),r=this.ensureCurrentTransaction(t,e,n);else r=this.ensureCurrentTransaction(t,e,n);var c=!0;return r.type===et&amp;&amp;(i||(this.recorder.start(gt),this.recorder.start(&quot;paint&quot;),this.recorder.start(mt)),c=!1,n.pageLoadTraceId&amp;&amp;(r.traceId=n.pageLoadTraceId),n.pageLoadSampled&amp;&amp;(r.sampled=n.pageLoadSampled),r.name===rt&amp;&amp;n.pageLoadTransactionName&amp;&amp;(r.name=n.pageLoadTransactionName)),!i&amp;&amp;this._config.get(&quot;monitorLongtasks&quot;)&amp;&amp;this.recorder.start(dt),r.sampled&amp;&amp;(r.captureTimings=!0),this.ensureRespInterval(c),r},e.startTransaction=function(t,e,n){var r,i=this,a=this.createOptions(n),o=!0;a.managed?this.currentTransaction===(r=this.startManagedTransaction(t,e,a))&amp;&amp;(o=!1):r=new De(t,e,a);return r.onEnd=function(){return i.handleTransactionEnd(r)},o&amp;&amp;this._config.events.send(&quot;transaction:start&quot;,[r]),r},e.handleTransactionEnd=function(t){var e=this;return this.recorder.stop(),g.resolve().then((function(){var n=t.name,r=t.type;if(!e.shouldIgnoreTransaction(n)&amp;&amp;&quot;temporary&quot;!==r){if(r===et){var i=e._config.get(&quot;pageLoadTransactionName&quot;);n===rt&amp;&amp;i&amp;&amp;(t.name=i),t.captureTimings&amp;&amp;Kt.tbt.duration&gt;0&amp;&amp;t.spans.push((a=Kt.tbt,o=a.start,s=a.duration,(c=new Gt(&quot;Total Blocking Time&quot;,dt,{startTime:o})).end(o+s),c))}var a,o,s,c;Ee(t),e.adjustTransactionTime(t),e._config.get(&quot;breakdownMetrics&quot;)&amp;&amp;t.captureBreakdown();var u=e._config.get(&quot;context&quot;);Zt(t,u),e._config.events.send(&quot;transaction:end&quot;,[t])}}),(function(t){0}))},e.adjustTransactionTime=function(t){var e=t.spans,n=function(t){for(var e=t[0],n=1;n&lt;t.length;n++){var r=t[n];e._start&gt;r._start&amp;&amp;(e=r)}return e}(e);n&amp;&amp;n._start&lt;t._start&amp;&amp;(t._start=n._start);var r=function(t){for(var e=null,n=0;n&lt;t.length;n++){var r=t[n];-1===String(r.type).indexOf(&quot;external&quot;)&amp;&amp;(!e||e._end&lt;r._end)&amp;&amp;(e=r)}return e}(e);r&amp;&amp;r._end&gt;t._end&amp;&amp;(t._end=r._end);for(var i=t._end,a=0;a&lt;e.length;a++){var o=e[a];o._end&gt;i&amp;&amp;(o._end=i,o.type+=St),o._start&gt;i&amp;&amp;(o._start=i)}},e.shouldIgnoreTransaction=function(t){var e=this._config.get(&quot;ignoreTransactions&quot;);if(e&amp;&amp;e.length)for(var n=0;n&lt;e.length;n++){var r=e[n];if(&quot;function&quot;==typeof r.test){if(r.test(t))return!0}else if(r===t)return!0}return!1},e.startSpan=function(t,e,n){var r=this.ensureCurrentTransaction(void 0,&quot;temporary&quot;,this.createOptions({canReuse:!0,managed:!0}));if(r)return r.startSpan(t,e,n)},e.addTask=function(t){var e=this.ensureCurrentTransaction(void 0,&quot;temporary&quot;,this.createOptions({canReuse:!0,managed:!0}));if(e){t=e.addTask(t);0}return t},e.removeTask=function(t){var e=this.getCurrentTransaction();e&amp;&amp;e.removeTask(t)},t}();function Be(){return je.TransactionService=function(t){var e=t.getService([_t,yt]),n=e[0],r=e[1];return new ze(n,r)},je.PerformanceMonitoring=function(t){var e=t.getService([bt,yt,_t,&quot;TransactionService&quot;]),n=e[0],r=e[1],i=e[2],a=e[3];return new Ae(n,r,i,a)},je.ErrorLogging=function(t){var e=t.getService([bt,yt,&quot;TransactionService&quot;]),n=e[0],r=e[1],i=e[2];return new he(n,r,i)},new Fe}var Ue=function(){function t(t,e){this._disable=e,this.serviceFactory=t,this._initialized=!1}var e=t.prototype;return e.init=function(t){var e=this;if(this.isEnabled()&amp;&amp;!this._initialized){this._initialized=!0;var n=this.serviceFactory.getService([yt,_t]),r=n[0],i=n[1];if(r.setVersion(&quot;5.2.1&quot;),this.config(t),r.isActive()){this.serviceFactory.init();var a=function(t,e){var n,r=((n={})[ot]=!1,n[st]=!1,n[ct]=!1,n[et]=!1,n[ft]=!1,n[ut]=!1,n);return t?(Object.keys(r).forEach((function(t){-1===e.indexOf(t)&amp;&amp;(r[t]=!0)})),r):r}(r.get(&quot;instrument&quot;),r.get(&quot;disableInstrumentations&quot;));if(this.serviceFactory.getService(&quot;PerformanceMonitoring&quot;).init(a),a[ft])this.serviceFactory.getService(&quot;ErrorLogging&quot;).registerListeners();var o=function(){return a[et]&amp;&amp;e._sendPageLoadMetrics()};r.get(&quot;centralConfig&quot;)?this.fetchCentralConfig().then(o):o()}else this._disable=!0,i.info(&quot;RUM agent is inactive&quot;)}return this},e.fetchCentralConfig=function(){var t=this.serviceFactory.getService([bt,_t,yt]),e=t[0],n=t[1],r=t[2];return e.fetchConfig(r.get(&quot;serviceName&quot;),r.get(&quot;environment&quot;)).then((function(t){var e=t.transaction_sample_rate;if(e){var i={transactionSampleRate:e=Number(e)},a=r.validate(i).invalid;if(0===a.length)r.setConfig(i);else{var o=a[0],s=o.key,c=o.value,u=o.allowed;n.warn('invalid value &quot;'+c+'&quot; for '+s+&quot;. Allowed: &quot;+u+&quot;.&quot;)}}return t})).catch((function(t){n.warn(&quot;failed fetching config:&quot;,t)}))},e._sendPageLoadMetrics=function(){var t=this.startTransaction(void 0,et,{managed:!0,canReuse:!0});t&amp;&amp;t.addTask(et);var e=function(){setTimeout((function(){t&amp;&amp;t.removeTask(et)}))};&quot;complete&quot;===document.readyState?e():window.addEventListener(&quot;load&quot;,e)},e.isEnabled=function(){return!this._disable},e.observe=function(t,e){this.serviceFactory.getService(yt).events.observe(t,e)},e.config=function(t){var e=this.serviceFactory.getService(yt),n=e.validate(t),r=n.missing,i=n.invalid;if(0===r.length&amp;&amp;0===i.length)e.setConfig(t);else{var a=this.serviceFactory.getService(_t),o=&quot;RUM agent isn't correctly configured. &quot;;r.length&gt;0&amp;&amp;(o+=r.join(&quot;, &quot;)+&quot; is missing&quot;,i.length&gt;0&amp;&amp;(o+=&quot;, &quot;)),i.forEach((function(t,e){var n=t.key,r=t.value,a=t.allowed;o+=n+' &quot;'+r+'&quot; contains invalid characters! (allowed: '+a+&quot;)&quot;+(e!==i.length-1?&quot;, &quot;:&quot;&quot;)})),a.error(o),e.setConfig({active:!1})}},e.setUserContext=function(t){this.serviceFactory.getService(yt).setUserContext(t)},e.setCustomContext=function(t){this.serviceFactory.getService(yt).setCustomContext(t)},e.addLabels=function(t){this.serviceFactory.getService(yt).addLabels(t)},e.setInitialPageLoadName=function(t){this.isEnabled()&amp;&amp;this.serviceFactory.getService(yt).setConfig({pageLoadTransactionName:t})},e.startTransaction=function(t,e,n){if(this.isEnabled())return this.serviceFactory.getService(&quot;TransactionService&quot;).startTransaction(t,e,n)},e.startSpan=function(t,e){if(this.isEnabled())return this.serviceFactory.getService(&quot;TransactionService&quot;).startSpan(t,e)},e.getCurrentTransaction=function(){if(this.isEnabled())return this.serviceFactory.getService(&quot;TransactionService&quot;).getCurrentTransaction()},e.captureError=function(t){if(this.isEnabled())return this.serviceFactory.getService(&quot;ErrorLogging&quot;).logError(t)},e.addFilter=function(t){this.serviceFactory.getService(yt).addFilter(t)},t}();var $e=function(){if(y&amp;&amp;window.elasticApm)return window.elasticApm;var t=ee(),e=Be(),n=new Ue(e,!t);return y&amp;&amp;(window.elasticApm=n),n}(),Ve=$e.init.bind($e);e.default=Ve}]);" doc:name="Set Payload" doc:id="5f0e96b3-507a-4d4f-89f8-49108dc240e5" />
	</flow>
	<flow name="tracing-testFlow" doc:id="51dd4af9-e59a-411d-8faf-9c61c0c9fa7f" >
		<http:listener doc:name="Listener" doc:id="73baaad6-01d1-43c9-8757-9b27ad3d8d5e" config-ref="HTTP_Listener_config" path="/">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"cache-control" : "no-cache",
	"Content-Type" : "text/html"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<scripting:execute doc:name="Execute" doc:id="4edb0075-0134-4fbd-b5ff-680d2b21df78" engine="groovy">
			<scripting:code ><![CDATA[payload = '''
<!DOCTYPE html>
<html lang="en">
<head>
    <title>A simple HTML document</title>
</head>
<body>

    <p>Press me!<p>
    <form action="/form" id="form" action="POST">
      <input type="submit" role="button" value="Submit">
    </form>
    
<script src="elastic-apm-rum.umd.min.js" crossorigin></script>
<script>
  var apm = elasticApm.init({
    serviceName: 'front-end',
    serverUrl: "''' + apm_server_url + '''",
    distributedTracing: true,
    distributedTracingOrigins: []
  });
  
  const form = document.querySelector('#form');
  
  apm.setInitialPageLoadName("initial");
  
  form.addEventListener('submit', (event) => {

    // disable default action
    event.preventDefault();

    // configure a request
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/form');

    // prepare form data
    let data = new FormData(form);

    // set headers
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

    // send request
    xhr.send(data);

    // listen for `load` event
    xhr.onload = () => {
        console.log(xhr.responseText);
    }
    
});
</script>
</body>
</html>
'''
]]></scripting:code>
			<scripting:parameters ><![CDATA[#[apm_server_url: server.systemProperties["elastic.apm.server_urls"]]]]></scripting:parameters>
		</scripting:execute>
	</flow>
	<flow name="tracing-testFlow1" doc:id="77e5d1b6-6582-4000-98bb-ca274e239b1f" >
		<http:listener doc:name="Listener" doc:id="25c6f811-1356-4c51-ad4e-84ef9fb70cd1" config-ref="HTTP_Listener_config" path="/form">
			<http:response statusCode="301">
				<http:headers ><![CDATA[#[output application/java
---
{
	"cache-control" : "no-store",
	"location" : "/"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="WARN" doc:name="Logger" doc:id="62a0b6fe-84f8-4c1f-bd24-3f1637b7ae77" message="submit pressed"/>
	</flow>
</mule>
