distributed-tracing-example/mule/component1/src/main/mule/component1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
 	<import file="tracer.xml"  doc:name="Import" doc:id="8f3b002d-e327-497d-a07d-47c97b524ba3" />

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00913dd9-b7d0-4c44-b31f-5ddac19c6ff0" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b48bd404-e3db-467a-ac9a-22d6efa3268b" >
		<http:request-connection host="component2" port="8081" />
	</http:request-config>
	<flow name="component1Flow" doc:id="2c67146e-c19f-483b-ad3b-35b103362235" >
		<http:listener doc:name="Listener" doc:id="9d029156-ac24-416c-988d-a926ade97db6" config-ref="HTTP_Listener_config" path="/"/>
		<http:request method="GET" doc:name="Request" doc:id="59828698-40fb-4b0c-90b0-85185d708bab" config-ref="HTTP_Request_configuration" path="/">
			<http:headers ><![CDATA[#[output application/java
---
{
	"elastic-apm-traceparent" : vars['elastic-apm-spans'].elasticApmTraceparent as String
}]]]></http:headers>
		</http:request>
		<set-payload value="123" doc:name="Set Payload" doc:id="03eb96b4-d33c-4151-8454-1da3bb378d4d" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="a61ab84e-57b9-4711-a21c-af0d60e5913c" >
			<route >
				<http:request method="GET" doc:name="Request" doc:id="e46cc7b0-223d-4080-b632-b4623943b821" config-ref="HTTP_Request_configuration" path="/">
					<http:headers ><![CDATA[#[output application/java
---
{
	"elastic-apm-traceparent" : vars['elastic-apm-spans'].elasticApmTraceparent as String
}]]]></http:headers>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Request" doc:id="8e1b6bd4-f726-4d29-a172-b9e4ee91cd40" config-ref="HTTP_Request_configuration" path="/">
					<http:headers ><![CDATA[#[output application/java
---
{
	"elastic-apm-traceparent" : vars['elastic-apm-spans'].elasticApmTraceparent as String
}]]]></http:headers>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Request" doc:id="9d8a08e0-41ee-4054-b5aa-8130bf791d66" config-ref="HTTP_Request_configuration" path="/">
					<http:headers ><![CDATA[#[output application/java
---
{
	"elastic-apm-traceparent" : vars['elastic-apm-spans'].elasticApmTraceparent as String
}]]]></http:headers>
				</http:request>
			</route>
		</scatter-gather>
		<http:request method="GET" doc:name="Request" doc:id="b2d836e5-d524-4ac8-af69-12eece6c9783" config-ref="HTTP_Request_configuration" path="/">
			<http:headers ><![CDATA[#[output application/java
---
{
	"elastic-apm-traceparent" : vars['elastic-apm-spans'].elasticApmTraceparent as String
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
